:root{
  --Light-G: #7ed561;
  --Med-G: #55c57a;
  --Dark-G: #28b485;
  --White: #fff;
  --Ligt-Grey: #f7f7f7;
  --Black: #000;

  --Font-W: 400;

  --margin-buttom: 8rem;
  --margin-grid: 6rem;
}
/* utilities */
.u-text-center{text-align: center;}
.u-margin-buttom-8rem{margin-bottom: 8rem;}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%
}
body{
  font-family: 'Lato', sans-serif;
  font-weight: 40rem;
  line-height: 1.7;
  color: #777;
  padding: 2.5rem;
  box-sizing: border-box;
}
.header{
  height: 95vh;
  background-image:
  linear-gradient(to right,
  rgba(126, 213, 97, 0.8),
  rgba(40, 180, 133, 0.7)),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.logo-box{
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.logo{
  height: 4rem;
}
.text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.heading-primary{
  text-transform: uppercase;
  color: var(--White);
  backface-visibility: hidden;
  margin-bottom: 5rem;
}
.heading-text{
  display: block;
  font-weight: var(--Font-W);
}
.heading-main{
  font-size: 4.8rem;
  letter-spacing: 3.8rem;
  animation: moveRight 1s;
}
.heading-sub{
  font-size: 1.6rem;
  letter-spacing: 1.1rem;
  animation: moveLeft 1s;
}
.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  animation: moveUp 1s;
}
.no-shake-btn1:hover .btn{
  transform: translateY(-.6rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.no-shake-btn1:active .btn{
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.btn-white{
  font-size: 1.3rem;
  font-weight: 400;
  background-color: var(--White);
  color: #777;
}
.section-about{
  background-color: var(--Ligt-Grey);
  padding: 20rem 0;
  margin-top: -15vh;
}
.heading-secondary{
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--Light-G),var(--Med-G));
  display: inline-block;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  color: transparent;
  transition: all .2s;
}
.heading-secondary:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(var(--Black),.2);
}
.heading-tertiary{
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph{
  font-size: 1.6rem;
  font-weight: 400;
}
.paragraph:not(:last-child){
  margin-bottom: 1.5rem;
}
.btn-text:link, .btn-text:visited{
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color:var(--Med-G);
  border-bottom: 1px solid var(--Med-G);
  padding: 3px;
  transition: all .2s;
}
.no-shake-btn2:active .btn-text{
  color: var(--White);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4 );
  transform: translateY(0);
}
.no-shake-btn2:hover .btn-text{
  transform: translateY(-2px);
  background-color: var(--Med-G);
  color: var(--White);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4 );
}
.section-images{
  position: relative;
}
.section-image{
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4 );
  border-radius: 2px;
  position: absolute;
  z-index: 0;
  transition: all .2s;
  outline-offset: .7rem;
}
.section-image-p1{
    left:0;
    top: -2rem;
}
.section-image-p2{
    right: 0;
    top: 2rem;
}
.section-image-p3{
  left: 12%;
  top: 12rem;
}
.section-image:hover{
  outline: .3rem solid var(--Med-G);
  z-index: 1;
  transform: scale(1.5) translateY(-.5rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .5 );
}
.section-images:hover .section-image:not(:hover){
  transform: scale(.95);
}



























/* ANIMATIONS */

/* Header*/
@keyframes moveRight {
0%{
opacity: 0;
transform: translateX(-10rem);
}
80%{
transform: translateX(1rem);
}
100%{
opacity: 1;
transform:translateX(0);
}
}
@keyframes moveLeft {
0%{
opacity: 0;
transform: translateX(10rem);
}
80%{
transform: translateX(-1rem);
}
100%{
opacity: 1;
transform:translateX(0);
}
}

/* Button */
@keyframes moveUp {
0%{
opacity: 0;
transform: translateY(10rem);
}
100%{
opacity: 1;
transform: translateY(0);
}
}


/* My Grid */
.row{
  max-width: 114rem;
  /* background-color: #eee; */
  margin: 0 auto;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child){
  margin-bottom: var(--margin-buttom);
}
[class^="col-"]{
  float: left;
}
[class^="col-"]:not(:last-child){
  margin-right: var(--margin-grid);
}
.col-1-of-2{
  width: calc((100% - var(--margin-grid)) /2);
}
.col-1-of-3{
  width: calc((100% - 2 * var(--margin-grid))/3);
}
.col-2-of-3{
  width: calc(2*((100% - 2 * var(--margin-grid))/3) + var(--margin-grid));
}
.col-1-of-4{
  width: calc((100% - 3 * var(--margin-grid))/4);
}
.col-2-of-4{
  width: calc(2 *((100% - 3 * var(--margin-grid))/4) + var(--margin-grid));
}
.col-3-of-4{
  width: calc(3 *((100% - 3 * var(--margin-grid))/4) + 2*var(--margin-grid));
}
